@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  border: 2px solid green;
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #37474F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}


#sidebar .nav a{
  text-decoration: none; 
  border-bottom: 1px solid #455A64;
  color: black;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}



/*right bar*/

<<<<<<< HEAD

html {
    scroll-behavior: smooth;
  }
.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
    color: #E60017!important;
    transition: 1s;
}

/* Text Cursor and User select */
.textDecoration {
    cursor: default;
    user-select: none;
}


body {
    font-family: "Ubuntu" !important;
}

h3.sliderText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
P.sliderText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

p.helpline {
    text-align: right;
}
span.headerText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* Footer */

.footer-top {
    margin-top: 5px;
    background-color: white;
    padding: 80px;
}

.segment-one h2 {
    font-family: "Ubuntu";
    text-transform: uppercase;
}

.segment-one h2:before {
    content: '|';
    color: #E60017;
    padding-right: 10px;
}

.segment-two h2 {
    font-family: "Ubuntu";
    text-transform: uppercase;


}

.segment-two h2:before {
    content: '|';
    color: #E60017;
    padding-right: 10px;
}

.segment-two ul {
    list-style-type: circle;
}

.segment-two ul li {
    line-height: 40px;
}

.segment-two ul li a {
    color: #0069d9;
    text-decoration: none;
}

.segment-two ul li a:hover {
    color: #E60017 !important;

}

.segment-three h2 {
    font-family: "Ubuntu";
    text-transform: uppercase;

}

.segment-three h2:before {
    content: '|';
    color: #E60017;
    padding-right: 10px;
}

.segment-three a {
    background: #0069d9;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
    font-size: 20px;
    color: white;
    padding: 10px 12px;
}

.segment-four h2 {
    font-family: "Ubuntu";
    text-transform: uppercase;

}

.segment-four h2:before {
    content: '|';
    color: #E60017;
    padding-right: 10px;
}

.segment-four form input[type="email"] {
    outline: none;
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    height: 40px;
    border-color: grey;
}

.segment-four form input[type="email"]:focus {
    outline: none;
    border: 1px solid rgba(81, 203, 238, 1);
    border-radius: 50px;
    width: 150px;
    height: 40px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.segment-four form input[type="submit"] {
    outline: none;
    background: #0069d9;
    border: none;
    border-radius: 50px;
    color: white;
    height: 40px;
}

.segment-four form input[type="submit"]:focus {
    outline: none;
    background: #0069d9;
    border: none;
    border-radius: 50px;
    color: white;
    height: 40px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);

}

.footerText {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

footer {
    margin-bottom: auto;
}

/* Map */

.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .mapText {
        color: white;
        text-shadow: 2px 2px 4px #000000;
        
    }


    

/* Media Queries */
@media screen and (max-width: 768px) {
    p.helpline{
        text-align: center;
        font-size: small;
    }

    .footerText {
        color: #000000;
        text-align: left;
        font-size: medium;
        text-shadow: none;
    }

    .segment-four {
        margin-top: 25px;
    }
    .footer-top {
        margin-top: 0px;
        padding: 0;
    }

    footer {
        margin-bottom: 20px;
    }
    
}
=======
>>>>>>> 05dbb7b3b3df702b52f85a95da8ef1373d17135a
